$grey: rgb(77, 77, 77);
$grey-light: rgba(233, 233, 233, 0.507);
$orange: rgba(216, 49, 37, 0.966);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  border: none;
  outline: none;
}
body {
  width: 90%;
  margin: auto;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  margin-top: 10px;
  background-color: $grey-light;
  padding: 15px;
  width: 350px;
  border-radius: 40px;
  text-align: center;
  font-size: 1.1rem;
  caret-color: $orange;
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s;
    -webkit-text-fill-color: black !important;
  }
}

.error {
  color: red;
  font-weight: bold;
}
.success {
  color: green;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}
