#sign-up-form {
  margin-top: 30px;
  text-align: center;
  border-bottom: 1px solid rgb(218, 218, 218);
  padding-bottom: 40px;
  input[type="submit"] {
    margin-top: 20px;
    text-transform: uppercase;
    background-color: $grey;
    font-weight: bold;
    color: white;
    padding: 15px;
    width: 200px;
    border-radius: 40px;
    letter-spacing: 2px;
    &:hover {
      cursor: pointer;
    }
  }
  label {
    font-weight: bold;
  }
  :nth-child(1) {
    position: relative;
    right: 140px;
  }
  :nth-child(6) {
    position: relative;
    right: 144px;
  }
  :nth-child(11) {
    position: relative;
    right: 120px;
  }
  :nth-child(16) {
    position: relative;
    right: 83px;
  }
}
