@mixin navbar-anim {
  &:before {
    transition: 0.4s ease;
    transform: scale(0);
    transform-origin: center;
    z-index: -10;
    content: "";
    height: 45px;
    width: 45px;
    position: absolute;
    background: $orange-low;
    border-radius: 50px;
  }
  &:hover {
    transform: scale(1.02);
  }
  &:hover::before {
    transform: scale(1);
    // @media screen and(max-width: 590px) {
    //   background: $orange;
    //   height: 34px;
    //   width: 34px;
    // }
  }
}
