.post-container {
  width: 85%;
  margin: auto;
  @media screen and(min-width: 600px) and(max-width: 999px) {
    margin-top: 50px;
  }
  h2 {
    text-align: center;
  }
  .cross {
    position: relative;
    bottom: 29px;
    left: 80%;
    font-size: 1.5rem;
    cursor: pointer;
    &:hover {
      color: $orange;
    }
  }
  .card-user-container {
    width: 70%;
    margin: auto;
  }
}
