#nav-container {
  width: 100%;
  height: 130px;
  background-color: rgb(14, 8, 41);
}

#sidebar {
  position: absolute;
  width: 100px;
  background: inherit;
  left: -100px;
  transition: 0.5s ease-out;
  z-index: 4;
  .toggle-btn {
    position: absolute;
    top: 17px;
    left: 110px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    span {
      width: 30px;
      height: 5px;
      border-radius: 5px;
      background: white;
      display: block;
      margin-top: 4px;
      transition: 0.4s ease;
    }
  }
  ul {
    position: relative;
    top: 8px;
    li {
      font-size: calc(0.7rem + 1.25vmin);
      padding: 10px 0 0 5px;
      &:hover a {
        font-weight: bold;
      }
      .active {
        font-weight: bold;
        font-style: italic;
        border-bottom: 1px solid white;
      }
      a {
        color: white;
      }
    }
  }
}

// Animation Toggle Sidebar
#sidebar.active-nav {
  left: 0;
  span {
    position: absolute;
  }
  .toggle-btn {
    top: 27px;
    :nth-child(1) {
      transform: rotate(45deg);
      top: 0px;
    }
    :nth-child(2) {
      opacity: 0;
    }
    :nth-child(3) {
      transform: rotate(-45deg);
    }
  }
}

.user {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  display: flex;
  align-items: center;
  img {
    margin-left: 20px;
  }
}

.logout {
  position: absolute;
  top: 70px;
  right: 10px;
}

.home-login {
  position: absolute;
  top: 10px;
  right: 15px;
}
